<template>
  <div class="d-flex flex-column bg-white rounded p-2 gap-2">
    <h4 class="p-2">Select Bus Line</h4>
    <div class="d-flex gap-2 p-2">
      <button
        class="btn"
        :class="[line === selectedLineNumber ? 'btn-secondary' : 'btn-primary']"
        :key="line"
        v-for="line in linesNumbers"
        @click="setLineNumber(line)"
      >
        {{ line }}
      </button>
    </div>
  </div>
  <div class="d-flex flex-grow-1 gap-2">
    <empty-list
      :title="`Bus Line: ${selectedLineNumber || ''}`"
      subTitle="Bus Stops"
      placeholder="Please select the bus line first"
      :list="selectedLineStations"
      v-slot="{ element }"
    >
      <button class="btn" @click="setStation(element)">
        {{ element }}
      </button>
    </empty-list>
    <empty-list
      :title="`Bus Stop: ${selectedLineStation}`"
      subTitle="Time"
      placeholder="Please select the bus line first"
      :list="selectedStationTimetable"
      v-slot="{ element }"
    >
      <div class="p-2">
        {{ element }}
      </div>
    </empty-list>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";
import EmptyList from "../../components/EmptyList.vue";

export default {
  name: "LinesPage",
  components: { EmptyList },
  methods: {
    ...mapMutations(["setLineNumber", "setStation"]),
  },
  computed: {
    ...mapState(["selectedLineNumber", "selectedLineStation"]),
    ...mapGetters([
      "linesNumbers",
      "selectedLineStations",
      "selectedStationTimetable",
    ]),
  },
};
</script>
