<template>
  <div class="d-flex flex-column vw-100 vh-100 gap-2 p-4 bg-light">
    <h2>Timetable</h2>
    <div class="d-flex bg-white rounded p-2 gap-2">
      <router-link to="/" v-slot="{ isExactActive }">
        <button :class="[{ 'btn-primary': isExactActive }, 'btn']">Bus Lines</button>
      </router-link>
      <router-link to="/stops" v-slot="{ isExactActive }">
        <button :class="[{ 'btn-primary': isExactActive }, 'btn']">Stops</button>
      </router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "MainPage",
  mounted() {
    this.$store.dispatch("loadData");
  },
};
</script>
