<template>
  <div
    style="flex: 1"
    class="d-flex flex-column gap-2 bg-white rounded p-2"
  >
    <template v-if="list.length">
      <p v-if="title">{{ title }}</p>
      <p>{{ subTitle }}</p>
      <div class="d-flex flex-column flex-grow-1 gap-2">
        <div style="flex-basis: 0" class="flex-grow-1 overflow-scroll">
          <div class="border-top" :key="el" v-for="el in list">
            <slot :element="el"></slot>
          </div>
        </div>
      </div>
    </template>
    <div
      v-else
      class="d-flex flex-grow-1 justify-content-center align-items-center"
    >
      {{ placeholder }}
    </div>
  </div>
</template>

<script>
export default {
  name: "EmptyList",
  props: {
    title: String,
    subTitle: {
      type: String,
      required: true,
    },
    list: {
      type: Array,
      required: true,
    },
    placeholder: String,
  },
};
</script>
