<template>
  <input
    class="form-control"
    placeholder="Search..."
    @input="(event) => debouncedSetBusStopFilter(event.target.value)"
    :value="busStopsFilter"
  />
  <empty-list
    subTitle="Bus Stops"
    :list="filteredStations"
    v-slot="{ element }"
  >
    <div class="p-2">
      {{ element }}
    </div>
  </empty-list>
</template>

<script>
import EmptyList from "../../components/EmptyList.vue";
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  name: "StopsPage",
  components: { EmptyList },
  methods: {
    ...mapActions(["debouncedSetBusStopFilter"]),
  },
  computed: {
    ...mapState(["busStopsFilter"]),
    ...mapGetters(["filteredStations"]),
  },
};
</script>

<style scoped></style>
